@import "../variables";

#error-page {
  background: #30323e;
  text-align: center;
  color: white;

  img {
    width: 100%;
  }

  main {
    height: 400px;
    margin-top: 50px;
    padding: 50px;
  }
}